.mainPanel {
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 1em;
  width: 80%;
}

.paper {
  height: 100%;
  padding-bottom: 100px;
  padding-right: 25px;
}
